<h1>Welcome to my first rails app!</h1>
<p>Posts resource is already defined</p>

<p>Here's the actions you're able to use:</p>
<ul>
	<li><%= link_to("Show all posts", { :controller => 'posts', :action => 'index'}) %></li>
	<li><%= link_to("Create a new post", { :controller => 'posts', :action => 'new'}) %></li>
</ul>